body {
  margin: 0;
  padding: 0;
}

button {
  // display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.is-hidden {
  display: none;
}

.is-open {
  display: block;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
